h1{border-bottom:8px solid sandybrown;
    padding:10px;
    margin-bottom: 0;
 }
 ol{
    
    width: 100px;
    margin-top: 0;
    padding-top: 25px;
 }

 #container{
     
     display:grid;
     grid-template-columns: 150px 1fr;
 }
 #dib{
     border-left:8px solid seagreen;
     padding-left: 20px;
     padding-right: 30px; 
 }